* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59, 58, 58);
}

h1 {
  color: #f7f7f7;
  font-size: 64px;
  font-weight: bolder;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}
